@model List<ProductVM>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-solid fa-house"></i>
    Back to Homepage
</a>
<a asp-controller="Product" asp-action="Add" class="btn btn-success">
    <i class="fas fa-brands fa-product-hunt"></i>
    Add New Product
</a>
<br /> <br />
@if (Model.Count() < 1)
{
    <div class="alert-info">
    No Product Records Found
</div>
}


else
        {
            <table class="table table-striped table-hover" id="ProductsTable">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Date Added</th>
                        <th>Date Modified</th>
                        <th></th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.ProductID</td>
                        <td> @item.Name</td>
                        <td> @item.Description</td>
                        <td> @item.Qty</td>
                        <td> @item.Unit</td>
                        <td> @item.DateAdded </td>
                        <td> @item.DateModified </td>
                            <td>
                              <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-info">
                                  <i class="fas fa-edit"></i>
                                Edit
                                </a>                             
                              <button class="btn btn-danger deleteBtn" data-id="@item.ProductID">
                                  <i class="fas fa-solid fa-circle-minus"></i>
                                  Delete
                              </button>
                          </td>
                    </tr>
                }

                </tbody>
            </table>
        }

 <form id="DeleteForm" asp-controller="Product" asp-action="Delete" method="post" >
    <input type="hidden" id="HiddenProductID" name="Id" value=""/>
</form>

@section Scripts {
    <script>
         $(document).ready( function () {
         $('#ProductsTable').DataTable();
    });
    $('.deleteBtn').click(function(e) {
        swal({
            title: "Are you sure?",
            text: "Are you sure you want to delete this record?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((confirm) => {
            if (confirm) {
                var btn = $(this);
                var id = btn.data("id");
                $("#HiddenProductID").val(id);
                $("#DeleteForm").submit();
            }
        });
    });
    </script>

}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
