@model List<Expenses>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-solid fa-house"></i>
    Back to Homepage
</a>
<a asp-controller="Expenses" asp-action="Add" class="btn btn-success">
    <i class="fas fa-brands fa-product-hunt"></i>
    Add New Expense Entry
</a>

@if (Model.Count() < 1)
{
    <div class="alert alear-info">
        No Expenses Record Found.
    </div>
}
else
{
    <table class="table table-striped table-hover" id="ExpensesTable">
                <thead> 
                    <tr>
                        <th>Month and Year</th>
                        <th>Restock Total Price</th>
                        <th>Electricity Bill</th>
                        <th>Water Bill</th>
                        <th>Workers Salary</th>
                        <th>Total Expenses</th>
                   
                        
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                {
          
                    <tr>
                        
                        <td> @item.MonthAndYear</td>
                        <td> @item.RestockTotalPrice</td>
                        <td> @item.ElectricityBill</td>
                        <td> @item.WaterBill</td>
                        <td> @item.WorkersSalaries</td>
                        <td> @item.TotalCost</td>
                            
                            <td>
                               <a asp-controller="Expenses" asp-action="Edit" asp-route-id="@item.EntryID" class="btn btn-info">
                                  <i class="fas fa-edit"></i>
                                Edit
                                </a>                             
                              <button class="btn btn-danger deleteBtn" data-id="@item.EntryID">
                                  <i class="fas fa-trash"></i>
                                  Delete
                              </button>
                           
                          </td>
                    </tr>
                }
                </tbody>
            </table>
            }

<form id="DeleteForm" asp-controller="Expenses" asp-action="Delete" method="post" >
    <input type="hidden" id="HiddenEntryID" name="EntryID" value=""/>
</form>


@section Scripts {
    <script>
        $(document).ready( function () {
         $('#ExpensesTable').DataTable();
    });

    $('.deleteBtn').click(function(e) {
        swal({
            title: "Are you sure?",
            text: "Are you sure you want to delete this record?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((confirm) => {
            if (confirm) {
                var btn = $(this);
                var id = btn.data("id");
                $("#HiddenEntryID").val(id);
                $("#DeleteForm").submit();
            }
        });
    });
    </script>
    }
